<h1>Contactos</h1>
<input type="text" placeholder="Buscar amigo" [(ngModel)]="buscarAmigo" />
<br />
<h1>Amigos</h1>
<!-- Variables estructurables. Solo cambian la estructura del HTML y empiezan con *-->
<ul class="list-group" style="width:20%">
    <ng-container *ngFor="let user of friends | search:buscarAmigo; let i = index">
        <div *ngIf="user.friend">
            <a routerLink="/conversation/{{user.uid}}" title="{{user.status}}">
                <li class="list-group-item d-flex justify-content-between align-items-center">

                    {{user.nick}}<br />{{user.email}}
                    <span class="badge badge-pill"><img src="assets/img/logo_live_{{user.status}}.png"
                            class="img-status" /></span>

                </li>
            </a>
        </div>
    </ng-container>
</ul>